---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import PostCard from "../../components/PostCard.astro";

// microCMS呼び出し
import { getBlogs } from '../../libs/microcms';

const data = await getBlogs({ limit: 100 });
const posts = data.contents;

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        {posts.map((post) => <PostCard {...post} slug={post.slug} />)}
      </section>
    </main>
    <Footer />
    <style>
      section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        max-width: 90rem;
        margin: 5rem auto;
        padding: 2rem;
      }
    </style>
  </body>
</html>
