---
import Layout from '../layouts/Layout.astro';
// microCMS呼び出し
import { getBlogs } from '../libs/microcms';

const data = await getBlogs({ limit: 100 });
const blogs = data.contents;
---

<main class="main">
    <div class="wrap">
        <ul class="posts">
            {blogs.map((blog) => {
                return (
                    <li>
                        <div class="cut">
                            {blog.title}
                        </div>
                    </li>
                );
            })}
        </ul>
    </div>
</main>
<div class="pagination">
    <a class="prev" href="">preview</a>
    <a class="next" href="">next</a>
</div>