---
import HeaderLink from './HeaderLink.astro';
import {Card, Typo, Link} from "../libs/solidjs";
import {GLOBAL_STYLE, SITE_TITLE} from '../consts';
---

<Card class="head-container" variant={GLOBAL_STYLE}>
  <header>
    <nav>
      <Typo variant="h1">
        <Link href="/" id="title">
          {SITE_TITLE}
        </Link>
      </Typo>
      <div class="internal-links">
        <HeaderLink href="/">Top</HeaderLink>
        <HeaderLink href="/blog">飛行申請Blog</HeaderLink>
        <HeaderLink href="/flight">空撮Blog</HeaderLink>
      </div>
    </nav>
  </header>
</Card>

<style>
  .head-container {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  #title {
    text-decoration: none;
  }

  #title:hover {
    text-decoration: underline;
  }

  nav {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90rem;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .internal-links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
</style>
